.container {
  display: flex;
  justify-content: center;
  align-items: content;
  gap: 30px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper > input {
  padding: 10px;
}
